body {
  color: #ff0000;
  background-color: black;
}

.heat-map {
  fill: white;
}

.hidepopUp{
  display: block;
  padding: 7px;
  background-color: black;
  color: white;
  width: 300px;
  position:absolute;
  z-index: 999;
}